<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--dao层操作-->
    <!-- 数据库链接jdbc.properties文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxPoolSize" value="${c3p0.pool.maxPoolSize}" />
        <property name="minPoolSize" value="${c3p0.pool.minPoolSize}" />
        <property name="initialPoolSize" value="${c3p0.pool.initialPoolSize}" />
        <property name="acquireIncrement" value="${c3p0.pool.acquireIncrement}" />
        <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}"/>
        <property name="testConnectionOnCheckin" value="${c3p0.testConnectionOnCheckin}"/>
        <property name="testConnectionOnCheckout" value="${c3p0.testConnectionOnCheckout}"/>
        <property name="maxIdleTime" value="${c3p0.maxIdleTime}"/>
        <!-- 这个是测试用的，一般不需要-->
        <!-- <property name="preferredTestQuery" value="select 1"/> -->
    </bean>

    <!-- sqlSessionFactory的创建 -->
    <!-- mybatis和spring完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 扫描mapper的xml文件的位置 -->
        <property name="mapperLocations" value="classpath:sqlMap/*.xml"/>
        <!--指定mybatis全局配置文件的位置-->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>

    <!-- dao扫描器，根据dao来加载对应的*mapper,xml文件 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
        <property name="basePackage" value="com.xawl.travel.dao"/>
        <!-- 这个属性一般都用不到，只有当你配置多数据源的时候，这是会有多个sqlSessionFactory，
        你就需要通过该属性来指定哪一个sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>



    <!--service层操作-->
    <!-- 自动扫描@Service, @Transaction -->
    <context:component-scan base-package="com.xawl.travel.service"/>

    <!-- 事务管理,对mybatis操作数据库事务控制，spring使用jdbc的事务控制类 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>