<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.travel.dao.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.xawl.travel.pojo.Business">
    <id column="bid" property="bid" jdbcType="CHAR"/>
    <result column="bname" property="bname" jdbcType="CHAR"/>
    <result column="latitude" property="latitude" jdbcType="CHAR"/>
    <result column="longitude" property="longitude" jdbcType="CHAR"/>
    <result column="address" property="address" jdbcType="CHAR"/>
    <result column="level" property="level" jdbcType="CHAR"/>
    <result column="is_use" property="isUse" jdbcType="BIT"/>
    <result column="image" property="image" jdbcType="VARCHAR"/>
    <result column="pass" property="pass" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    bid, bname, latitude, longitude, address, level, is_use, image,pass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tb_business
    where bid = #{bid,jdbcType=CHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_business
    where bid = #{bid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xawl.travel.pojo.Business">
    insert into tb_business (bid, bname, latitude,
    longitude, address, level, is_use,
    image,pass)
    values (#{bid,jdbcType=CHAR}, #{bname,jdbcType=CHAR}, #{latitude,jdbcType=CHAR},
    #{longitude,jdbcType=CHAR}, #{address,jdbcType=CHAR}, #{level,jdbcType=CHAR}, #{isUse,jdbcType=BIT},
    #{image,jdbcType=VARCHAR},#{pass,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.travel.pojo.Business">
    insert into tb_business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bname != null">
        bname,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="isUse != null">
        is_use,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="pass != null">
        pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=CHAR},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=CHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=CHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=CHAR},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=BIT},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.travel.pojo.Business">
    update tb_business
    <set>
      <if test="bname != null">
        bname = #{bname,jdbcType=CHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=CHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=CHAR},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=BIT},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=CHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.travel.pojo.Business">
    update tb_business
    set bname = #{bname,jdbcType=CHAR},
    latitude = #{latitude,jdbcType=CHAR},
    longitude = #{longitude,jdbcType=CHAR},
    address = #{address,jdbcType=CHAR},
    level = #{level,jdbcType=CHAR},
    is_use = #{isUse,jdbcType=BIT},
    image = #{image,jdbcType=VARCHAR},
    pass = #{pass,jdbcType=CHAR}
    where bid = #{bid,jdbcType=CHAR}
  </update>

  <!--lzp-->
 <!-- <select id="findAll" resultType="com.xawl.travel.pojo.Business">
     SELECT  * from tb_business;
  </select>-->
  <select id="findAll" parameterType="java.lang.Integer" resultType="com.xawl.travel.pojo.Business">
    SELECT  * from tb_business
  </select>
  <!--通过Bid查询-->
<!--  <select id="selectByBid" parameterType="java.lang.String" resultType="java.math.BigInteger">
    select
    <include refid="Base_Column_List"/>
    from tb_business
    where bid = #{bid,jdbcType=CHAR}
  </select>-->
  <!--商家名称查询
  <select id="findByBname" parameterType="java.lang.String" resultType="com.xawl.travel.pojo.Business">
    select
    <include refid="Base_Column_List"/>s
    from tb_business
    where bname=#{bname,jdbcType=CHAR}
  </select>-->
  <!--商家名称模糊查询-->
  <select id="findByBname" parameterType="com.xawl.travel.pojo.Business" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_business
    where bname like  '%${bname}%'
  </select>

  <!--设置商家停用-->
  <update id="updateBusinessDisable" parameterType="java.lang.String">
    UPDATE tb_business  SET is_use=1 WHERE is_use=0 and bid=#{bid,jdbcType=CHAR}
  </update>

  <!--设置商家使用-->
  <update id="updateBusinessAble" parameterType="java.lang.String">
    UPDATE tb_business  SET is_use=0 WHERE is_use=1  and bid=#{bid,jdbcType=CHAR}
  </update>
</mapper>