<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.travel.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.xawl.travel.pojo.Order" >
    <id column="oid" property="oid" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="CHAR" />
    <result column="bid" property="bid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    oid, status, create_time, pay_time, uid, bid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where oid = #{oid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where oid = #{oid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xawl.travel.pojo.Order" >
    insert into tb_order (oid, status, create_time, 
      pay_time, uid, bid)
    values (#{oid,jdbcType=CHAR}, #{status,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{uid,jdbcType=CHAR}, #{bid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.travel.pojo.Order" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="bid != null" >
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.travel.pojo.Order" >
    update tb_order
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=CHAR},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=CHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.travel.pojo.Order" >
    update tb_order
    set status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=CHAR},
      bid = #{bid,jdbcType=CHAR}
    where oid = #{oid,jdbcType=CHAR}
  </update>


  <!--自定义查询订单-->
  <select id="selectOrderByBid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_order
    where bid = #{bid,jdbcType=CHAR}
  </select>


  <select id="selectOrderByStatus" resultMap="BaseResultMap" parameterType="com.xawl.travel.pojo.Order" >
    select
    <include refid="Base_Column_List" />
    from tb_order
    where status = #{status,jdbcType=SMALLINT}
    AND bid = #{bid,jdbcType=CHAR}
  </select>

</mapper>